#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-card{
  display: flex;
  justify-content: space-between;
}

button{
  border-radius: 5px;
  font-size: 1rem;
}